.registeration{
   width: 70%;
   margin: auto;
}

h3{
    background-color: aqua;
    width: 50%;
    margin: 5px auto;
    text-align: center;
    min-height: 25px;
    border-radius: 20px;
  
  }
  
  .myForm{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: beige;
  }
  
  .myForm *{
    margin: 5px auto;
    width: 50%;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
  }
  .myForm input[type='button']{
    width: 25%;
    min-height: 25px;
  }
  
  .myForm input[type='button']:active{
    width: 30%;
    background-color: greenyellow;
  }
  
  