
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/" class="nav-link text-dark">Home</a>
    </li>
    <li class="nav-item">
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/users" class="nav-link text-dark">Users</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/users/5" class="nav-link text-dark">User Details</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/profile" class="nav-link text-dark">Profile</a>
    </li>
    <li class="nav-item">
      <a routerLinkActive="active" routerLink="/error" class="nav-link text-dark">Error</a>
    </li>
  </ul>